h1 {
	font-family: 'Permanent Marker', cursive;
	padding:0.2em;
}

.header {
	background:#313131;
	color:#ffffff;
}

#menuBar {
	font-size:1.6em;
	color:#fff;
	margin:0.5em;
}

#map {
	width:100%;
	height:100vh;
}

.menu-btn {
	border:none;
	padding:0;
	font-size:inherit;
	color:#ffffff;
	width:auto;
	display:inline-block;
}
.menu-btn:hover{
	color:#D4F1EB;
	cursor:pointer;
}

.active {	
	color:#82FF8B;
}

.menu-btn-clear {
    width:1em;
    display:inline-block;
}

#walksBox {
    position : fixed;
    top : 160px;
    left : 10px;
    width : 300px;
    height : 400px;
    background : rgba(2,2,2,0.8);
    color : #fff;
    z-index : 1000;
    padding : 10px;
}

#walksBox a {
	color: #fff;
	font-weight: bold;
}

#otherInfo {
	text-align:right;
	padding:1em;
}

/*over rides */
.container {
	width: 100%;
	max-width: 100%;
}

a {
	cursor : hand;
	color : #fff;
	font-weight: bold;
}

.alt-link {
	color: #000;
}
